<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Food Chart</title>
        <script src='Chart.min.js'></script>
    </head>
    <body>
        <canvas id="food_chart" width="600" height="400"></canvas>
        <script>
            var barData = {
                labels : [],
                datasets : [
                    {
                        fillColor : "#48A497",
                        strokeColor : "#48A4D1",
                        data : [456,479,324,569,702,600]
                    },
                    {
                        fillColor : "rgba(73,188,170,0.4)",
                        strokeColor : "rgba(72,174,209,0.4)",
                        data : [364,504,605,400,345,320]
                    }
                ]
            }
            var food_chart = document.getElementById("food_chart").getContext("2d");
            new Chart(food_chart).Bar(barData);
        </script>
    </body>
</html>
